/* General styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --background-color: #effafa;
  --main-color: #F2F2F2;
  --second-color: #5CA5A5;
  --third-color: #2B3939;
  --font-color: #143642;
  --font-family:  'League Spartan', sans-serif;
}

body {
  background-color: var(--background-color);
}

/* typography */
h1 {
  font-size: 13px;
  color: var(--second-color);
  font-weight: 700;
  line-height: 12px;
}

h2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.clear-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color:#7C8F8F;
  letter-spacing: -0.12px;
  line-height: 24px;
}
/* main content */
header {
  height: 156px;
  background: var(--second-color) url(../public/bg-header-mobile.svg);
}

/* search-bar */
.search-bar {
  box-shadow: 0px 15px 20px -5px #0D718226;
  margin-bottom: 20%;
}

/* card styles */

.card {
  box-shadow: 0px 15px 20px -5px #0D718226;
  width: 87.2%;
}

.left-border {
  border-left: 5px solid var(--second-color);
}

/* Enable hover only on non-touch devices */
 @media (hover: hover) and (pointer: fine) {
  .clear-btn:hover {
    color: var(--second-color);
    cursor: pointer;
  }
  
  .remove-btn:hover  {
    background: #2b3939;
    cursor: pointer;
  }

  .company-tag:hover {
    background-color: var(--second-color);
    color: var(--background-color);
    cursor: pointer;
  }
  
  .position:hover {
    color:var(--second-color);
  }
}

@media(min-width: 1027px) {

  /* typography */

:root {
  font-size: 16px;
}
h1 {
  font-size: 18px;
  line-height: 16.56px;
}

h2 {
  font-size: 22px;
}

.posting--info {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.14px;
}

/* card styles */
  .card {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 29.33px 29.33px 29.33px;
    grid-template-areas: 
      "img company--info . "
      "img position tags"
      "img info . ";
    row-gap: 10px;
  }

  .logo {
    grid-area: img;
    place-self: center;
  }

  .company--info {
    grid-area: company--info;
  }

  .position {
    grid-area: position;
  }

  .info {
    grid-area: info;
  }

  .tags {
    grid-area: tags;
    place-self: end;
    width: 400px;
  }

}
